html {
	font-family:'Lato';
}

/* Tags */

h1 {
	font-size: 3em;
}

h2 {
	text-align: center;
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

nav .brand-logo {
	padding-left: 10px;
}

/* Classes */

.hero {
	text-align: center;
	height: 40rem;
	background-color: #26a69a;
	color: white;
	padding-top: 8%;
	padding-left: 2%;
	padding-right: 2%;
}

.hero li {
	display: inline;
	font-size: 1.2em;
}

.hero li:after {
	content: "\00B7";
}

.hero li.last:after {
	content: "";
}

.intro {
	height: 20rem;
	text-align: center;
	font-size: 1.2em;
	background-color: #fafafa;
}

.intro p {
	margin-top: 0px;
}

.online_learning {
	height: auto;
	padding-top: 2%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 2%;
}

.resume {
	background-color: #fafafa;
	height: 50%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 5%;
	padding-bottom: 5%;
	width: 100%;
}

.carousel {
	height: 15em;
	margin-bottom: 3%;
	padding-left: 2%;
	padding-right: 2%;
}

.navbar-fixed {
    top: 0;
    z-index: 100;
  	position: fixed;
    width: 100%;
}

.resume_divider {
	height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
    margin-top: 4%;
    margin-bottom: 4%;
}

.about-me {
	margin: 0;
	line-height: 3em;
	text-align: center;
	height: 3em;
	color: white;
	background-color: #616161;
	vertical-align: 50%;
}

.about-me:hover {
	background-color: #424242;
}

.google-maps {
    position: relative;
    padding-bottom: 75%; 
    height: 0;
    overflow: hidden;
    margin-bottom: 5%;
}
    
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 65%;
    height: 100%;
    margin-left: 18%;
}

.hire-joe {
	margin: 0;
	line-height: 3em;
	text-align: center;
	height: 3em;
	color: white;
	background-color: #616161;
	vertical-align: 50%;
}

.hire-joe:hover {
	background-color: #424242;
}

/* IDs */

#foot {
	margin: 0px;
}

#dropdown1 {
	margin-top: 5%;
}

#contact_submit {
	float: left;
}

#contact_joe {
	margin-top: 3%;
	margin-bottom: 5%;
}

#form_response {
	margin-top: 8%;
	height: 27em;
}

#portrait {
	height: 32%;
	width: 32%;
	display: none;
	margin-top: 4%;
	margin-bottom: 4%;
}

#quote {
	text-align: center;
}

#image-container {
	text-align: center;
}

#about {
	width: 65%;
	margin-left: 18%;
	margin-top: 6%;
}

#chips {
	margin-bottom: 15px;
}

#my-name:hover {
	color: #004d40;
}

#map {
	width: 65%;
	margin-left: 18%;
}
